Repository alicevision/popsift, pull requests merged in 2020-10, with the labels that each got.

#108 [bug] pair malloc with free, not delete
  src/popsift/popsift.cpp
Labels: bugfix

#109 Pass correct shared memory size to orientation kernel
  src/popsift/s_orientation.cu
  src/popsift/sift_pyramid.cu
Labels: bugfix, cuda

#104 Dev/fix testing paths
  CMakeLists.txt
  README.md
  testScripts/CMakeLists.txt
  testScripts/TEST.sh.in
  testScripts/testOxfordDataset.sh.in
Labels: scope:test

#100 [doc] add readthedocs documentation
  .readthedocs.yml
  .travis.yml
  CMakeLists.txt
  appveyor.yml
  cmake/FindSphinx.cmake
  doc/CMakeLists.txt
  doc/sphinx/Makefile
  doc/sphinx/make.bat
  doc/sphinx/requirements.txt
  doc/sphinx/source/Doxyfile
  doc/sphinx/source/about/about.rst
  doc/sphinx/source/api/api.rst
  doc/sphinx/source/api/usage.rst
  doc/sphinx/source/biblio.bib
  doc/sphinx/source/bibliography.rst
  doc/sphinx/source/conf.py
  doc/sphinx/source/index.rst
  doc/sphinx/source/install/install.rst
  src/popsift/common/device_prop.h
  src/popsift/features.h
  src/popsift/popsift.h
  src/popsift/sift_conf.h
  src/popsift/sift_extremum.h
  src/popsift/sift_octave.h
Labels: scope:doc

#113 [cmake] added support for SM86
  cmake/ChooseCudaCC.cmake
Labels: cuda, scope:build

#116 [cmake] sm 86 is only for cuda >= 11.1
  cmake/ChooseCudaCC.cmake
Labels: bugfix, cuda, scope:build
